flask==2.3.3
flask-cors==4.0.0
transformers==4.35.2
torch==2.1.0+cpu
torchaudio==2.1.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
librosa==0.10.1
soundfile==0.12.1
numpy<1.25.0
